@media only screen and (max-width: 480px) 
    /*For mobile phones: */ {

        .mainHeader {
            max-height: 80px;
        }

        .siteIdentity img {
            max-width: 200px;
        }

        .buttonContainer {
            max-height: 40px;
            padding-top: 0px!important;
        }

        button {
            font-size: 17px!important;
        }

        .partOne{
            max-height: 200px;
        }
        .clouds {
            max-height: 150px;
            padding-bottom: 10px;
        }
        .cloudOne { 
            max-height: 117px;
            padding-top: 20px;
        }

        .cloudTwo {
            max-height: 70px;
        }

        .animation {
            max-height: 180px;
        }

        .ball {
            max-height: 100px; 
        }

        .dog {
            max-width: 200px;     
        }

        .partThree {
            max-height: 120px;
        }
        .coders img {
            max-height: 80px;
        }

        /*.blackHairedCoder {
            position: absolute!important;
            transition: all 1s linear!important;
            -webkit-transition: all 1s linear!important;
            -moz-transition: all 1s linear!important; 
            -o-transition: all 1s linear!important;
        }

        .moveDiagonal {
            transform: translate(30px,20px)!important;
            -webkit-transform: translate(30px,20px)!important;
            -o-transform: translate(30px,20px)!important; 
            -moz-transform: translate(30px,20px)!important;
        }*/

        .partFour {
            max-height: 222px;
        }

        .kennel {
            background-image: url(../image/pruebas/casetaMediaQuery.png)!important;
            max-height: 175px;
            max-width: 175px;
        }

        .bigBall {
            background-image: url(../image/pruebas/ballMediaQuery.png)!important;
            max-height: 175px;
            max-width: 175px;
        }

        .iconBox {
            margin-left: 10px!important;
        }

        }

    /* .kennel {
            max-width: auto;
        }*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

/*header*/

.mainHeader {
    background-color: #7EDFFD;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 5px;
    justify-content: center;
    height: 150px;
}

.siteIdentity img {
    width: 70%;
}

/*main*/

/* section {
    background: url(../image/fondo.png) no-repeat center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
} */

.partOne.partOne {
    background-color: #7EDFFD;
    border: solid #7EDFFD 1px;
    height: 400px;
}

.buttonContainer {
    border: 1px rgb(12, 104, 3) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    padding-top: 35px ;
}

button {
    color: #000;
    font-weight: bold;
    font-size: 2.5vw;
    background-color: #ff66c4;
    border-radius: 4px;
    padding: 8px;
    border: solid black 1px;
}

.clouds {
    border: gray 1px solid;
    display: flex;
    justify-content: space-between;
    height: 250px;
}

.cloudOne {
    border: #000 1px solid;
    height: 80%;
    margin-left: -20px;
    align-items: flex-start;
    align-self: flex-end;
}

.cloudTwo {
    border: #000 1px solid;
    height: 50%;
    margin-right: 25px;
    align-items: flex-end;   
}

.partTwo {
    background-color: #9EFC87;
    border: solid #fc87ea 1px;
}

.animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

} 

.dog {
    width: auto;
    height: auto;
    border: white solid 1px;
}

.ball {
    height: 50%;
    padding:  0 20px;
    border: violet 1px solid;
    display: flex;
    align-self: flex-end;
}

.partThree {
    border: rgb(238, 224, 130) 1px solid;
    background-color: #9EFC87;
    height: 300px;
    display: flex;
    align-items: center;
}

.coders {
    border: rgb(13, 13, 13) 1px solid;
    display: flex;
    align-self: baseline;
    margin-left: 400px;
}

.blackHairedCoder {
    max-height: 150px;
    border: rgb(14, 143, 212) 1px solid;
    position: absolute;
    transition: all 2s linear;
    -webkit-transition: all 2s linear; /** Chrome & Safari **/
    -moz-transition: all 2s linear; /** Firefox **/
    -o-transition: all 2s linear; /** Opera **/
}

.bottle {
    top: 45%;
    left: 44%;
}

#coder:hover .moveDiagonal {
    transform: translate(650px,450px);
    -webkit-transform: translate(650px,450px);
    -o-transform: translate(650px,450px); 
    -moz-transform: translate(650px,450px);
}

.partFour {
    background-color: #9EFC87;
    border: rgb(232, 66, 1) 1px solid;
}

.listDisplays {
    border: rgb(29, 1, 119) 3px solid;
    display: flex;
    justify-content: space-around;
    height: 250px;
}

.bigBall {
    background-image: url(../image/pruebas/ballGrande.png);
    border: rgb(83, 12, 31) 1px solid;
    height: 250px;
    width: 250px;
}

.kennel {
    background-image: url(../image/pruebas/caseta.png);
    border: rgb(83, 12, 31) 1px solid;
    height: 245px;
    width: 245px;
}

#ballList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    font-weight: bold;
    font-size: 1.5vw;
    color: white;
}

#kennelList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    font-weight: bold;
    font-size: 1.5vw;
    color: white;
}

/*footer*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
    background-color: #9EFC87;
}

.iconBox {
    display: flex;
    justify-content:flex-start;
    margin-left: 50px;
    width: 50%;
    height: 35px;
}

.mediaIcons {
    width: auto;
    padding:0px 10px;
}

.copyright {
    width: auto;
    margin-right: 50px;
}

.copyright p {
    font-family: "Montserrat";
    color: #0F892A;
    font-weight: 400;
    font-size: 18px;
}

