* {
    margin: 0;
    padding: 0;
}

/*header*/

.mainHeader {
    background-color: #7EDFFD;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 5px;
    justify-content: center;
}

.siteIdentity img {
    width: 80px;
}

/*footer*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
    background-color: #9EFC87;
}

.iconBox {
    display: flex;
    justify-content:flex-start;
    margin-left: 50px;
    width: 50%;
    height: 35px;
}

.mediaIcons {
    width: auto;
    padding:0px 10px;
}

.copyright {
    width: auto;
    margin-right: 50px;
}

.copyright p {
    font-family: "Montserrat";
    color: #0F892A;
    font-weight: 400;
    font-size: 18px;
}

